target/
release/
!.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml
!**/src/main/**/target/
!**/src/test/**/target/

# Generated zsh completion files (created by install-completions.sh)
_git_timeline

# Git's authoritative bash completion (downloaded from GitHub by install-completions.zsh)
git-completion-used-by-git-timeline.bash

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### IntelliJ ###
.idea